src/main/mule/file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e17bfff4-d230-42c2-8d70-a8f45651258e" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="71d50520-b124-4d4e-84b8-fcd79a8648a3" />
	<ftp:config name="FTP_Config" doc:name="FTP Config" doc:id="88c4f203-69cc-4633-af04-e6979138da9a" >
		<ftp:connection host="0.0.0.0" />
	</ftp:config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="6d894c5d-50e8-455b-b040-198175e68567" >
		<email:smtp-connection host="smtp.gmail.com" user='vissu4545@gmail.com' password="viswanath#6">
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="5180c08b-c3c0-4e44-afc4-a803ff1ad8e7" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="addition" doc:id="285e5adf-4fa9-4da5-8dff-3979f99c9861" >
		<http:listener doc:name="Listener" doc:id="fee9d0e9-8e79-4b2c-a9a3-aa01c83721e0" config-ref="HTTP_Listener_config" path="soap"/>
		<set-variable value="30" doc:name="number 1" doc:id="aa0a1741-b4fe-46d6-bd98-281d3d448f4a" variableName="num1"/>
		<set-variable value="15" doc:name="number 2" doc:id="bba0fdc5-22ae-4c77-98a3-7d57b64de24c" variableName="num2"/>
		<ee:transform doc:name="Transform Message" doc:id="72140831-8b29-4873-a85f-cd013562f44c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: vars.num1 as Number,
		ns0#intB: vars.num2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Divide" doc:name="Consume" doc:id="210020af-126a-4e76-832e-36f2806cec16" config-ref="Web_Service_Consumer_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="34e2c4a5-8766-454c-a4e2-669497059cd0" message="#[payload]"/>
	</flow>
</mule>
